/* ForgotPassword.css */
.forgot-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.forgot-password-field {
    margin-bottom: 20px;
}

.forgot-password-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    color: #333;
}

.forgot-password-field input {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.forgot-password-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-password-button:hover {
    background-color: #0056b3;
}
